.add__quote{
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  font-size:
}

.add__quote__h1{
  font-size:4.8rem;
  text-align:center;
  margin-top:3rem;
  margin-bottom:3rem;
}

.add__quote__desc{
  font-size:1.2rem;
  display:flex;
  flex-flow:column;
  padding-bottom:0.7rem;
  font-weight:bold;
}

.input{
  border:none;
  background:#C4C4C4;
  height:2rem;
  width:100%;
  border-radius: 0.3rem;
  font-size:1.2rem;
}

.button{
  border:none;
  height:2.1rem;
  width:80%;
  margin-left:2rem;
  background:#74FBFD;
  margin-top:1.9rem;
  font-weight:bold;
  font-size:1.5rem;
  border-radius: 0.3rem;
}

.button:hover{
  background:#333333;
  color:white;
}

.form{
  display:grid;
  grid-template-columns:40rem auto;
}

.quote_of_the_day{
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:5rem;
}

.quote_of_the_day__quote{
  margin-top:3rem;
}

.quote_of_the_day__date{
  margin-top:1rem;
  font-size:0.7rem;
}

.sections__table{

}
