.add__quote{
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  font-size:
}

.add__quote__h1{
  font-size:4.8rem;
  text-align:center;
  margin-top:3rem;
  margin-bottom:3rem;
}

.add__quote__desc{
  font-size:1.2rem;
  display:flex;
  flex-flow:column;
  padding-bottom:0.7rem;
  font-weight:bold;
}

.input{
  border:none;
  background:#C4C4C4;
  height:2rem;
  width:100%;
  border-radius: 0.3rem;
  font-size:1.2rem;
}

.button{
  border:none;
  height:2.1rem;
  width:80%;
  margin-left:2rem;
  background:#74FBFD;
  margin-top:1.9rem;
  font-weight:bold;
  font-size:1.5rem;
  border-radius: 0.3rem;
}

.button:hover{
  background:#333333;
  color:white;
}

.form{
  display:grid;
  grid-template-columns:40rem auto;
}

.section__overview>h2{
  width:70rem;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1rem;
  font-size:1.8rem;
  font-weight: 700;
}

.quote_of_the_day{
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:5rem;
  margin-bottom:4rem;
}

.quote_of_the_day__quote{
  margin-top:1rem;
}

.quote_of_the_day__date{
  margin-top:1rem;
  font-size:0.7rem;
}

.sections__table{
 background-color: #333333;
 color: white;
}

.overview__table{
  margin-left: auto;
  margin-right: auto;
  width: 70rem;
}

.sections__table__quote{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 2rem;
}

.sections__table__date{
  text-align: right;
  padding-right: 6rem;
}

.quote__example{
  border-bottom: #333333 solid 0.2rem;
}

.quote{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.date{
  padding-left: 51rem;
}
