.add__quote{
  width:70rem;
  margin-left:auto;
  margin-right:auto;
  background-color:pink;
  font-size:
}

.add__quote__h1{
  font-size:4.8rem;
  text-align:center;
  margin-top:3rem;
}

.add__quote__desc{
  font-size:1.2rem;
  display:flex;
  flex-flow:column;
  padding-bottom:0.7rem;
  font-weight:bold;
}

.input{
border:none;
background:#C4C4C4;
height:2rem;
width:56rem;
}

.button{
  border:none;
  height:2rem;
  background:#74FBFD;
  margin-top:2rem;
}

.form{
  display:grid;
  grid-template-columns:56rem auto;
}
